/web/laravel/vendor/
/web/laravel/node_modules/
/web/laravel/npm-debug.log
/web/laravel/yarn-error.log

# Laravel 4 specific
/web/laravel/bootstrap/compiled.php
/web/laravel/app/storage/

# Laravel 5 & Lumen specific
/web/laravel/public/storage
/web/laravel/public/hot

# Laravel 5 & Lumen specific with changed public path
/web/laravel/public_html/storage
/web/laravel/public_html/hot

/web/laravel/storage/*.key
/web/laravel/.env
/web/laravel/Homestead.yaml
/web/laravel/Homestead.json
/web/laravel/.vagrant
/web/laravel/.phpunit.result.cache

/database/

/web/laravel/public/mix-manifest.json
/web/laravel/public/js/app.js


